2- Write a SQL statement to create the duplicate of the countries table named country_new with all structure and data.

Here in the following is the structure of the table countries.



+--------------+---------------+------+-----+---------+-------+

| Field | Type | Null | Key | Default | Extra |

+--------------+---------------+------+-----+---------+-------+

| COUNTRY_ID | varchar(2) | YES | | NULL | |

| COUNTRY_NAME | varchar(40) | YES | | NULL | |

| REGION_ID | decimal(10,0) | YES | | NULL | |

+--------------+---------------+------+-----+---------+-------+

In [ ]:
create database country;

CREATE TABLE IF NOT EXISTS countries ( 
COUNTRY_ID varchar(2),
COUNTRY_NAME varchar(40)
CHECK(COUNTRY_NAME IN('Italy','India','China')) ,
REGION_ID decimal(10,0)
);

select * from countries;

use country;

CREATE TABLE IF NOT EXISTS country_new
AS SELECT * FROM countries;

SHOW COLUMNS FROM country_new;